.content {
	column(1)
	background-color:white !important;
}

.left{
	col(15/24)
	margin-bottom:35px;
} 

.right> div {
	margin-bottom:35px;
	background-color:#ccc;
}
.right {
	col(9/24)
}


.news { 
	height: 640px;
	margin-bottom:35px;
	background-color:#ccc;	
}

.pagination {
	width: 250px;
	height:50px;
	background-color:#ccc;
}




.search {
	height: 75px;
}

.about {
	height: 325px;
}

.follow {
	height: 275px;
}

.popular {
	height:375px;
}

.latest {
	height: 375px;
}

.topics {
	height: 375px;
}

.authors {
	height: 225px;
}

.comments {
	height: 275px;
}